<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registrera dig</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
  </head>
  <body>

    <nav>
      <h4>Min fina sida</h4>
      <ul>
        <li><a href="/">Hem</a></li>
        <li><a href="/login">Logga in</a></li>
        <li><a href="/register">Registrera</a></li>
      </ul>
    </nav>

    <div class="container mt-4">
      <div class="card" style="width: 18rem;">
        <div class="card-header">Registrera dig</div>
        <div class="card-body">
          <form action="/auth/register" method="POST">
            <div class="mb-3">
              <label for="name-reg" class="form-label">Namn:</label>
              <input
                type="text"
                class="form-control"
                id="name-reg"
                name="name"
              />
            </div>
            <div class="mb-3">
              <label for="email-reg" class="form-label">E-post:</label>
              <input
                type="text"
                class="form-control"
                id="email-reg"
                name="email"
              />
            </div>
            <div class="mb-3">
              <label for="password-reg" class="form-label">Lösenord:</label>
              <input
                type="password"
                class="form-control"
                id="password-reg"
                name="password"
              />
            </div>
            <div class="mb-3">
              <label for="password-conf-reg" class="form-label">Bekräfta
                lösenord:</label>
              <input
                type="password"
                class="form-control"
                id="password-conf-reg"
                name="password_confirm"
              />
            </div>

            <button type="submit" class="btn btn-primary">Registrera dig</button>
          </form>
        </div>
      </div>
    </div>

    {{!-- Meddelandet finns nu oavsett om ett meddelande skcikas från servern eler ej
    eftersom webbläsaren också behöver kunna skcika meddelanden --}}
    <h4 class="alert alert-danger mt-4" id="message">{{message}}</h4>

    <script>
      /* När hemsidan har laddats in */
      window.onload = function() {
        /* Hämtar elementen */
        let name = document.getElementById("name-reg");
        let email = document.getElementById("email-reg");
        let password = document.getElementById("password-reg");
        let passwordConfirm = document.getElementById("password-conf-reg");
        let messageElement = document.querySelector(".alert-danger");

        // Regex för att validera e-postadresser och lösenord
        const email_Regex = new RegExp(/^(([^<>()[\]\.,;:\s@\"]+(\.[^<>()[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i);
        const password_Regex = new RegExp(/^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$/);
        
        /* Döljer varnignsmeddelandet om det är tomt */
        if (messageElement.textContent == "") {
          messageElement.style.display = "none";
        }

        /* Kollar formuläret när anvädneren vill skicka in det */
        document.getElementById("submit-button").addEventListener("click", function(event) {
            /* Kollar om alla fält är ifyllda */
            if (name.value == "" || email.value == "" || password.value =="" ||passwordConfirm.value =="") {
                messageElement.textContent = "Fyll i alla fält";
            // Kollar om e-postadressen är i korrekt format
            } else if (email_Regex.test(email) == false) {
                messageElement.textContent = "Ogiltig e-post";
            // Kollar om lösenordet är tillräckligt säkert
            } else if (password.test(password) == false) {
                messageElement.textContent = "Lösenordet måste ha minst 8 tecken, en stor bokstav, en liten bokstav, ett nummer och ett specialtecken.";
            // Kollar om lösenorden matchar
            } else if (password.value != passwordConfirm.value) {
                messageElement.textContent = "Lösenorden matchar ej";
            }
            // Om något är fel skickas inte formuläret iväg och ett felmeddelande visas
            if (messageElement.textContent != "") {
                event.preventDefault();
                messageElement.style.display = "block";
            } }); };
    </script>
  </body>
</html>